*output
**/*.png
**/*.pdf
**/*.eps
**/*.csv
**/*.ps
**/*.txt
**/*.nc
**/backup/*
**/*sh.o*
**/nohup.out
**/txt/*
**/plots/*
**/data/*
**/refuse/*
**/csv/*
**/refuse/*
**/nc_file/*
/__pycache__/
/nc_files/*
/nc_files_backup/*
