*output
*.png
*.pdf
*.eps
*.csv
*.ps
*.txt
*.nc
*/*.pdf
*/*.eps
*/*.csv
*/*.ps
*/*.txt
*/*.nc
./backup
*sh.o*
*/*sh.o*
*/*/*sh.o*
*/nohup.out
*/*/nohup.out
*/*/*/nohup.out
*/txt/*
*/txt/*/*
*/plots/*
*/data/*
*/refuse/*
*/csv/*
/__pycache__/
/nc_files/*
/nc_files_backup/*
/submit/*
*/*/refuse/*
*/*/plots/*
*/*/data/*
*/*/csv/*
*/*/txt/*
*/*/nc_file/*
*/*/*/*sh.o*
